.content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	.logo-container {
		height: 150px;
		width: 150px;
		.logo {
			width: 100%;
			height: 100%;
		}
	}
	.form {
		width: 80%;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}

.error-message {
	font-size: 0.8rem;
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	padding-left: 1rem;
	display: block;
}
