.splash-screen {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffff;
}

.logo-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.logo {
	width: 200px;
	height: 200px;
	animation: spin 3s linear normal;
}

.call-to-action {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	h1 {
		color: #0163aa;
		font-weight: bold;
	}
	p {
		color: rgb(121, 121, 121);
		font-weight: 600;
	}
}
