.splash-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #ffffff;
}

.logo-container {
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.logo {
	width: 150px;
	height: 150px;
	animation: spin 3s linear infinite;
}
