<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list style="width: 100%;">
    <ion-list-header>
      <ion-label>
        <h1 style="text-align: center; color: rgb(99, 98, 98);">Miembros del grupo</h1>
      </ion-label>
    </ion-list-header>
    @defer(on timer(3000)){
    @for(member of members$(); track member.id){
    <ion-item style="width: 100%;">
      <ion-card style="width: 100%;">
        <ion-card-content>
          <ion-row>
            <ion-col size="4" style="display: flex; justify-content: center; align-items: center;">
              <ion-avatar style="width: 60px; height: 60px;">
                <ion-icon name="person-circle" style="font-size: 60px; color: rgb(150, 150, 150);"></ion-icon>
              </ion-avatar>
            </ion-col>
            <ion-col size="8">
              <h2 style="font-weight: 700;">{{ member.name }} {{ member.lastname }}</h2>
              <ion-text color="medium">{{ member.identification }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
    }
    @placeholder{
    <ion-item style="width: 100%;">
      <ion-card style="width: 100%;">
        <ion-card-content>
          <ion-row>
            <ion-col size="4" style="display: flex; justify-content: center; align-items: center;">
              <ion-avatar style="width: 60px; height: 60px;">
                <ion-skeleton-text animated style="width: 60px; height: 60px; border-radius: 50%;"></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="8">
              <h2>
                <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
              </h2>
              <ion-text color="medium">
                <ion-skeleton-text animated style="width: 60%; height: 15px;"></ion-skeleton-text>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
    @error {
    <ion-item style="width: 100%; text-align: center;">
      <ion-text color="danger">Error al cargar los Miembros. Inténtalo de nuevo más tarde.</ion-text>
    </ion-item>
    }
  </ion-list>


  <ion-fab-button color="secondary" style="position: fixed; bottom: 20px; right: 20px;" (click)="openFormularyModal()">
    <ion-icon name="create-outline"></ion-icon>
  </ion-fab-button>
</ion-content>