<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="secondary">
    <ion-card-content>
      @defer (when userData$()) {
      <ion-row>
        <ion-col size="4">
          <ion-avatar style="width: 80px; height: 80px; margin-top: -1em;">
            <ion-icon name="person-circle" style="font-size: 80px; color: rgb(247, 247, 247);"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <h3>Bienvenido</h3>
          <h2 style="font-weight: 700;">{{ userData$()?.username }}</h2>
          <p style="color: rgb(238, 236, 236);">{{ userData$()?.role }}</p>
        </ion-col>
      </ion-row>
      @if (userCanViewStats) {
      <ion-row style="margin-top: 1em; text-align: center;">
        <ion-col size="12">
          <ion-button color="light" fill="outline" expand="block" (click)="onViewStatistics()">
            <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
            Ver Estadísticas
          </ion-button>
        </ion-col>
      </ion-row>
      }
      }
      @placeholder {
      <ion-row>
        <ion-col>
          <ion-skeleton-text animated
            style="width: 80px; height: 80px; border-radius: 50%; margin-top: -1em;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      }
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <h3 style="color: rgb(83, 83, 83);">Grupos Asignados</h3>
    </ion-list-header>

    @defer (on timer(3000)) {
    @for(group of groups$(); track group.id) {
    <ion-item>
      <ion-card style="width: 100%; background-color: rgb(246, 246, 248);">
        <ion-card-content>
          <ion-row>
            <ion-col size="10">
              <h2 style="font-weight: 700;">{{ group.name }}</h2>
              <ion-text color="medium">{{ group.city }}</ion-text>
            </ion-col>
            <ion-col size="2" style="display: flex; justify-content: center; align-items: center;">
              <ion-button color="light" fill="clear" size="small" (click)="onViewGroupDetail(group)">
                <ion-icon name="eye-outline" style="font-size: 24px; color: rgb(150, 150, 150);"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
    }
    @placeholder {
    <ion-item>
      <ion-card style="width: 100%; background-color: rgb(246, 246, 248);">
        <ion-card-content>
          <ion-row>
            <ion-col size="10">
              <ion-skeleton-text animated style="width: 60%; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%; height: 15px;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" style="display: flex; justify-content: center; align-items: center;">
              <ion-skeleton-text animated style="width: 30px; height: 30px; border-radius: 50%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
    @error {
    <ion-item>
      <ion-text color="danger">Error al cargar los grupos. Inténtalo de nuevo más tarde.</ion-text>
    </ion-item>
    }
  </ion-list>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="tertiary">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning">
        <ion-icon name="create-outline" [routerLink]="['create-group']"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>