<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">ID: 123456</ion-col>
        <ion-col size="6">Nombre: Juan Pérez</ion-col>
        <ion-col size="3">Rol: ADMIN</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="light" style="width: 100%;">Ver estadisticas</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <h3 style="color: rgb(83, 83, 83);">Grupos Asignados</h3>
    </ion-list-header>
    <ion-item>
      <ion-card style="width: 100%; background-color: rgb(246, 246, 248);" (click)="openGroupDetails()">
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <h2 style="font-weight: 700;">Movimiento con Tony La Romana</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Provincia</ion-text>
              <br>
              <ion-text color="primary">La Romana</ion-text>
            </ion-col>
            <ion-col style="text-align: center;">
              <ion-text>Supervisores</ion-text>
              <br>
              <ion-text color="primary">4</ion-text>
            </ion-col>
            <ion-col style="text-align: center;">
              <ion-text>Miembros</ion-text>
              <br>
              <ion-text color="primary">25</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="tertiary">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>